@import url('https://fonts.googleapis.com/css?family=Offside');

body {font-family: sans-serif;}

.ms_status_bar {display: flex; justify-content: space-between; font-size: 50px;}
.ms_count {display: flex; height: 60px; font-family: Offside, sans-serif; color: red;}
.ms_status_reset_button {cursor: pointer;}

.ms_row {display: flex;}
.ms_cell {display: flex; box-sizing: border-box; width: 30px; height: 30px; background: lightgray; border-top: 2px solid white; border-left: 2px solid white; border-right: 2px solid darkgray; border-bottom: 2px solid darkgray; justify-content: center; align-items: center; font-family: sans-serif; font-size: 24px;}
.ms_explored_cell {display: flex; box-sizing: border-box; width: 30px; height: 30px; background: lightgray; border: 1px solid darkgray; justify-content: center; align-items: center; font-family: sans-serif; font-size: 24px;}
